:root {


  --ff-headings: font-family: 'Montserrat', sans-serif;
  --ff-body: font-family: 'Open Sans', sans-serif;

  /* small screen font-sizes */
  --fs-240: 0.731rem;
  /*11.7PX*/

  --fs-260: 0.813rem;
  /*13px*/

  --fs-270: 0.875rem;
  /*14PX*/

  --fs-280: 1rem;
  /*16PX*/

  --fs-290: 1.063rem;
  /*17px*/
  --fs-300: 1.125rem;
  /*18PX*/

  --fs-310: 1.25rem;
  /*20PX*/
  --fs-315: 1.313rem;
  /*21PX*/
  --fs-320: 1.375rem;
  /*22PX h1*/
  --fs--330: 1.438rem;
  /*23PX*/
  --fs-380: 1.8rem;
  /*28.8PX*/
  --fs-400: 2rem;
  /*32PX*/
  --fs-430: 2.4rem;
  /*38.4PX*/
  --fs-450: 3rem;
  /*48PX*/


  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;


  /*colors*/
  --clr-dark-100: #000000;
  --clr-dark-200: #383838;
  --clr-light-100: #f1f1f1;
  --clr-light-200: #fdfdfd;
  --clr-light-300: #eeeeee;
  --clr-neutral-100: #898888;
  --clr-neutral-200: #898888;
  --clr-accent-100: #1e90ff;
  --clr-accent-200: #50a584;




  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

@media (min-width: 33.125em) {
  :root {
    /*--fs-310: 1.719rem;*/
    /*h2*/

  }

}

@media (min-width: 48.125em) {
  :root {
    --fs-270: 1.125rem;
    /*--fs-310: 2.188rem;*/
    --fs-320: 2rem;
    /*h1*/

  }

}

@media (min-width: 90em) {
  :root {
    /*--fs-310: 2.813rem;*/
    --fs-320: 3rem;
  }

}



/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--ff-headings);
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
figure {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--clr-dark-100);
  background-image: url(https://cdn.monstercat.com/background-tile.webp);
  background-repeat: repeat;
  background-attachment: scroll;
  color: var(--clr-light-100);
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  line-height: 1.6;

  /*overflow: hidden;*/
  margin: 0;
}



/* utility/helper classes */

.btn-border {
  background: transparent;
  border: solid 1px var(--clr-light-100);
  color: var(--clr-light-100);
  font-family: var(--ff-body);
  font-size: var(--fs-270);
  font-weight: var(--fw-800);
  padding: .5em 1em;
  line-height: 1.75;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: no-wrap;
  transition: color 100ms linear, background-color 100ms linear, border-color 100ms linear;
}

.btn-border:hover {
  background: var(--clr-light-100);
  color: var(--clr-dark-100);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pt-small {
  padding-top: 3.5em;
}

.pt-medium {
  padding-top: 4em;
}

.pt-large {
  padding-top: 8em;
}

.p-table {
  padding: 1rem 0.5rem;
}

.mt-large {
  margin-top: 4em;
}

.sub-heading {
  font-size: var(--fs-320);
  letter-spacing: 0.1em;
  text-transform: uppercase;

}

@media (min-width: 33.125em) {
  .sub-heading {
    font-size: var(--fs-400);
  }
}

@media (min-width: 48em) {
  .sub-heading {
    font-size: var(--fs-430);
  }
}

@media (min-width: 68em) {
  .sub-heading {
    font-size: var(--fs-450);
  }
}


/* general layout classes */

.container {
  /*container for all the main content plus footer*/
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1rem;
}



@media (min-width: 48em) {}



/*Sections*/


/*Background-poster*/

.background-poster {
  background-image: url('https://cdx.monstercat.com?encoding=webp&url=https%3A%2F%2Fwww.monstercat.com%2Frelease%2FMCLP017%2Fcover%3F2ee434f2-4499-4c30-a937-4aec2b4ac1fc&width=1024');
  width: 102%;
  height: 102%;
  position: absolute;
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(5px) brightness(38%);
  overflow: hidden;
  mask-image: linear-gradient(180deg, black 50%, transparent 100%);
}

/*Header*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 40;
}

.main-nav {
  background-color: #130f11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*backdrop-filter: blur(10px);*/
  padding: 0.5rem 1rem;
}

.logo img {
  width: 2.188rem;
  height: 2.188rem;
}

.fab {
  color: var(--clr-light-100);
  display: inline-block;
  line-height: 1;
  font-size: 18px;
}

.open-nav {
  color: var(--clr-light-100);
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  background: transparent;
}

/*.socials {
  display: none;
}*/

/*mobile/tablet nav - inside menu*/

.side-menu {
  background-color: var(--clr-dark-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-800);
  width: 25.625rem;
  height: 100vh;
  overflow: hidden;
  letter-spacing: .5px;
  transform: translateX(0);
  text-transform: uppercase;
  padding: 2em 3em;
  transition: transform 0.25s;
  right: 0;
  position: absolute;
  z-index: 45;
}

.navigation-open {
  transform: translateX(100%);
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background-color: transparent;
  border: 0;
  color: var(--clr-light-100);
  display: inline-block;
  font-size: 45px;
  cursor: pointer;
}

.inner-menu {
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.dropdown-toggle {
  display: flex;
  cursor: pointer;
  gap: 1em;
  position: relative;
}

.dropdown-toggle a {
  color: var(--clr-light-200);
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown-arrow::before {
  content: '';
  background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/5e5fd7c602ca7caeb4feb68a_Path.svg");
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 10px;
}

.side-socials {
  display: flex;
  gap: 1.5em;
}

.footer-btns {
  margin-top: 2em;

}

.footer-btns span {
  margin-left: 1em;
}

.sign-up {
  color: var(--clr-light-100);
  text-decoration: none;
  font-family: var(--ff-body);
  font-size: var(--fs-270);
}

@media (max-width: 25em) {
  .side-menu {
    max-width: 100%;
  }
}

@media (min-width: 33.125em) {
  .logo img {
    width: 3.125rem;
    height: 3.125rem;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 1.2em;
  }
}

@media (min-width: 68.875em) {
  .main-nav {
    background-color: initial;
    padding: 1.5rem 2rem;

  }

  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 35px;
    top: 100px;

  }
}

/*hero section*/


.hero {
  gap: 2em;
}

.main-hero {

  gap: 1.8em;
}

.hero-info {

  gap: 1.6em;
}

.hero-heading {
  font-family: var(--ff-headings);
  font-size: var(--fs-320);
  font-weight: var(--fw-800);
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.1em;
}

.hero-heading span {
  font-family: var(--ff-body);
  font-size: var(--fs-280);
  display: block;
}

.album-rel {
  color: var(--clr-light-100);
  font-family: var(--ff-headings);
  font-size: var(--fs-280);
  font-style: italic;
  font-weight: var(--fw-400);
}

.album-rel span {
  color: var(--clr-accent-200);
}

.btn-full {
  background: var(--clr-accent-200);
  border-color: var(--clr-light-100);
  color: var(--clr-light-100);
  cursor: pointer;
  font-size: var(--fs-270);
  font-weight: var(--fw-600);
  letter-spacing: 0.1em;
  padding: calc(1rem) calc(1.5rem);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn-full:hover {
  background: var(--clr-light-100);
  color: var(--clr-dark-100);
}

.hero-btns {
  align-items: flex-start;
}

.hero-btns .btn-border {
  font-size: var(--fs-270);
  font-weight: var(--fw-600);
  letter-spacing: 0.1em;
  padding: calc(.9rem) calc(1.5rem);
}

@media (min-width: 22.125em) {
  .hero-btns {
    flex-direction: row;
    gap: .3em;
  }
}

@media (min-width: 33.125em) {
  .album-rel {
    font-size: var(--fs-300);
  }

  .hero-heading span {
    font-size: var(--fs-320);
  }


}

@media (min-width: 48em) {
  .main-hero {
    position: relative;
  }

  .pt-large {
    padding-top: 14em;
  }

  .hero-heading {
    font-size: var(--fs-400);
  }

  .hero-heading span {
    font-size: var(--fs-440);
  }

  .album-rel {
    font-size: 1.156rem;
    position: absolute;
    bottom: 0;
    left: -35px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
  }



}

@media (min-width: 68em) {
  .hero {
    flex-direction: row;
    gap: 4em;
  }

  .hero-heading {
    font-size: var(--fs-430);
  }

  .hero-heading span {
    font-size: 2.2rem;
  }

  .hero-info {
    align-self: center;
  }

  .hero-btns {
    gap: 1em;
  }

  .hero-btns .btn-border {
    padding: calc(.8rem) calc(1.5rem);
  }

}


/*Streaming*/

.streaming {
  gap: 1.5em;
}

.streaming-services {
  display: flex;
}



.stream {
  display: inline-block;
  border: solid 2px white;
  padding: 0.50rem;
  text-align: center;
  position: relative;
}

.stream::before,
.stream::after {
  --arrow-size: 10px;
  --scale: 0;
  --tooltip-color: var(--clr-light-100);
  --translate-y: calc(-100% - var(--arrow-size));
  /*transform: translate(0);*/
  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 50ms transform;
  transform-origin: bottom center;
}

.stream::before {
  content: attr(data-tooltip);
  font-size: var(--fs-240);
  font-weight: var(--fw-600);
  font-family: var(--ff-body);
  backdrop-filter: blur(3px);
  letter-spacing: 0.1em;
  border-radius: .1em;
  content: attr(data-tooltip);
  color: var(--clr-dark-100);
  background-color: var(--tooltip-color);
  padding: .5rem;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  /*max-width: 100%; -- this will only make it as long as the box*/
}

.stream:hover::before,
.stream:hover::after {
  --scale: 1;
  /*transform: translate(1);*/
}

/*tooltip*/
.stream::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}



/*Track List*/

.table {
  border-collapse: collapse;
  font-size: var(--fs-330);
  width: 100%;
  margin-top: 1.5em;
}

.track-no {}

.track {


  display: flex;
  align-items: center;

  gap: 1em;
  font-weight: var(--fw-600);
}

.play {
  background-color: transparent;
  color: var(--clr-light-100);
  border: 0;

}

.track-info {
  display: inline-flex;
  flex-direction: column;
  line-height: 1;
}

.track span {
  display: block;
  font-size: var(--fs-300);
}

.track-length {
  font-size: var(--fs-300);
}

.track-time {
  text-align: right;
  padding: 1rem 0;
}

.track-time span {
  margin-right: auto;
}

.track-time .fa {}



@media (min-width:33.125em) {
  .table {
    font-size: var(--fs-300);
  }

  .track-length {
    font-size: var(--fs-310);
  }

  .track-time a {
    padding-left: 2em;
  }

}

/*Music Video*/

.video h2 {
  margin-bottom: 1em;
}

.iframe-container {
  aspect-ratio: 16/9;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}



/*footer*/

.footer-top {
  display: flex;
  flex-direction: column;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--clr-light-100);
}

.nav-left,
.nav-right {
  text-transform: uppercase;


}

.nav-left li,
.nav-right li {
  font-size: var(--fs-290);
  font-weight: var(--fw-700);
  line-height: 1.75;
}

.nav-left li a,
.nav-right li a {
  color: var(--clr-light-100);

  text-decoration: none;
  transition: color 0.3s ease-in;
}

.nav-left li a:hover,
.nav-right li a:hover {
  color: var(--clr-light-200);
}

.form-heading {
  color: var(--clr-neutral-200);
  font-family: var(--ff-headings);
  font-size: var(--fs-290);
  text-transform: uppercase;
}

.form-text {
  color: var(--clr-light-100);
  font-size: var(--fs-300);
  font-style: italic;
  line-height: 1.75;
}

.newsletter-form {
  display: flex;
  border-bottom: 1px solid var(--clr-neutral-200);
}

.newsletter-form input {
  background: transparent;
  border: 0;
  display: block;
  flex: 1;
  font-size: var(--fs-315);
  outline: 0;
  padding-bottom: 0.5rem;
}

/**/
.submit-btn {
  background: transparent;
  border: 0;
}

.fa {
  display: inline-block;
  color: var(--clr-light-200);
  cursor: pointer;
}

.update {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em 0 2em;
}

/*.fal::before {
  content: "\f178";
}

/**/
@media (min-width: 48.125em) {
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;

  }

  .first-nav {
    flex-basis: 33.3%;
  }

  .second-nav {
    flex-basis: 33.3%;
  }

  .nav-left li,
  .nav-right li {
    font-size: var(--fs-315);
    line-height: 1.6;
  }

  .update {
    flex-basis: 33.3%;
    padding: 0;
  }

  .form-heading {
    font-size: var(--fs-315);
  }

  .form-text {
    font-size: var(--fs-310);
  }
}