/* reset */
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

header {
  background-color: white;
  padding: 1.5rem;

  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

ul {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

ul li a {
  text-decoration: none;
  color: #444;
}

ul li a:hover {
  color: #567899;
}

section {
  padding: 1.5rem 2rem;
  min-height: 100vh;
  color: white;
}

#home {
  background-color: teal;
  padding-top: 4.5rem;
}

#products {
  background-color: lightcoral;
}

#pricing {
  background-color: darkslateblue;
}

#about {
  background-color: coral;
}
