:root {


  --ff-serif: font-family: 'PT Serif', serif;


  /* small screen font-sizes */
  --fs-250: 0.813rem;
  /*13px*/
  --fs-270: 0.875rem;
  --fs-280: 1rem;
  /*16px*/
  --fs-290: 1.063rem;
  /*17px*/
  --fs-300: 1.125rem;
  /*18px*/
  --fs-320: 1.25rem;
  --fs-400: 1.5rem;
  /*24px*/
  --fs-460: 1.625rem;
  --fs-500: 1.75rem;
  /*18px*/
  --fs-600: 1.25rem;
  /*20px*/
  --fs-700: 1.313rem;
  /*21px*/
  --fs-790: 1.375rem;
  --fs-810: 1.875rem;
  /*30px*/
  --fs-840: 2rem;
  --fs-900: 2.25rem;
  /*36px*/
  --fs-920: 2.5rem;
  --fs-930: 2.75rem;
  --fs-940: 3.875rem;
  /*62px*/
  --fs-980: 4.375rem;

  --fw-400: 400;
  --fw-700: 700;


  /*colors*/
  --clr-dark-100: #0d0d14;
  --clr-light-100: #ffffff;
  --clr-neutral-100: #4c4d5f;
  --clr-neutral-200: #4c525a;
  --clr-neutral-300: #c3c3c3;
  --clr-accent-100: #00b289;
  --clr-accent-200: #f8db62;
  --clr-accent-300: #f2faff;



  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}



/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--clr-light-100);
  line-height: 1.6;
  font-family: var(--ff-serif);

}




/* typography */

h1,
h2,
h3,
.section-subtitle {
  font-family: var(--ff-sans);
}



a:hover,
a:focus {
  color: var(--clr-primary-400);
}


/* utility/helper classes */

.main-grid {
  display: grid;
  place-items: center;
  padding: 0 1em;
}



.text-tick {
  color: var(--clr-neutral-100);
  line-height: 23px;
  font-size: var(--fs-280);
  font-weight: var(--fw-400);
}

.btn-light {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid var(--clr-accent-100);
  background-color: transparent;
  border-radius: 4px;
  font-size: var(--fs-250);
  color: var(--clr-accent-100);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
  font-weight: var(--fw-700);
  text-align: center;
  letter-spacing: .6px;
  padding: .9em 1.4em;
}

.btn-light:hover {
  background-color: var(--clr-accent-100);
  color: var(--clr-light-100);
  transition: all ease-in-out .3s;
}

.btn-accent {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid var(--clr-accent-100);
  background-color: var(--clr-accent-100);
  border-radius: 4px;
  font-size: var(--fs-250);
  color: var(--clr-light-100);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
  font-weight: var(--fw-700);
  text-align: center;
  letter-spacing: .6px;
  padding: .9em 1.6em;
}

.btn-accent:hover {
  background-color: var(--clr-accent-100);
  color: var(--clr-light-100);
  outline: 0;
}

@media (min-width: 40em) {}

@media (min-width: 40em) {}

/* general layout classes */

.container {
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  padding: 0;
}



.container.footer {}

section {}







@media (min-width: 48em) {
  .container {
    padding: 0 2.3em;
  }
}

@media (min-width: 61.8em) {}

/* components */

/*blue*/

.blue {
  display: block;
  background-color: var(--clr-accent-300);
  position: absolute;
  top: -88%;
  right: -23%;
  width: 90%;
  height: 120%;
  bottom: auto;
  z-index: -999;
  border-radius: 6.6vw;
  transform: rotate(-23deg);
}


@media (min-width: 48em) {
  .blue {
    left: 0;
    top: -120%;
    height: 150%;
  }
}

@media (min-width: 62em) {
  .blue {
    left: 0;
    right: 120%;
  }

}

/*Header*/
.nav-large {
  display: none;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  bottom: auto;
  background-color: var(--clr-light-100);
  z-index: 100000000;

}

.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.open-nav {
  cursor: pointer;
  font-size: var(--fs-500);
  background: transparent;
  border: 0;
  display: block;
}

/*nav-menu-mobile */

.dropdown-arrow {
  position: relative;
}

.dropdown-arrow::before {
  content: '';
  background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/5e5fd7c602ca7caeb4feb68a_Path.svg");
  background-repeat: no-repeat;
  background-size: auto;
  /*background-position: 50% 50%;*/
  color: transparent;
  position: absolute;
  height: 1em;
  width: 1em;
  left: 0;
  top: 0px;
}


.btn-login {
  display: block;
}

.btn-signup {
  display: block;
}

/*mobile-menu*/

.mobile-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem repeat(6, 2.5rem);
  gap: 1.3em;
  position: fixed;
  background-color: var(--clr-light-100);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
  height: 100%;
  z-index: 3;
  padding: 2rem 3rem 0 3rem;
}

.navigation-open {
  transform: translateX(-100%);
}

.menu-header {
  display: flex;
  justify-content: space-between;
}

button.close-btn {
  background: transparent;
  border: 0;
  font-size: 3.5rem;
  align-self: flex-start;
  font-weight: var(--fw-700);
  cursor: pointer;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-neutral-300);
  padding-bottom: 16px;
  cursor: pointer;
  color: var(--clr-dark-100);
}

.dropdown-toggle a {
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  text-decoration: none;
  line-height: 22px;
}

.dropdown-toggle a:hover {
  color: var(--clr-dark-100);
}

.dropdown-toggle .dropdown-arrow {
  padding-right: 1em;

}


@media (min-width: 61.8em) {

  .nav-mobile {
    display: none;
  }

  .nav-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
  }

  .nav-large>a {
    flex-basis: 25%;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 75%;

  }

  .main-nav-left {
    display: flex;
    gap: 4em;

  }

  .main-nav-left a {
    color: var(--clr-neutral-100);
    font-size: var(--fs-300);
    font-weight: var(--fw-400);
    line-height: 22px;
  }

  .main-nav-toggle {
    display: flex;
    position: relative;
  }

  .dropdown-arrow {
    position: absolute;
    top: 9px;
    left: 80px;
    cursor: pointer;
  }


  .main-nav-right {
    display: flex;
    gap: 1em;
  }

  .btn-light.login {}



  .btn-accent.signup {}



  .main-nav-left a,
  .main-nav-right a {
    text-decoration: none;
  }
}

@media (min-width: 40em) {}

/*Pricing*/

.pricing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 6rem;

}

.heading {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 120%;
  color: var(--clr-neutral-200);
  align-self: end;
}

.monthly {
  color: var(--clr-neutral-200);
  font-size: var(--fs-290);
  font-weight: var(--fw-700);
  letter-spacing: 1.22px;
  text-transform: uppercase;
}

.toggle-holder {
  display: flex;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: center;
  position: relative;
  align-items: center;
}

.toggle {
  background-color: var(--clr-accent-100);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 200px;
  height: 1.813rem;
  width: 3.125rem;
  margin-right: 28px;
  margin-left: 28px;
  padding-right: 0;
  padding-left: 0;
}

.toggle-ball {
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 200px;
  background-color: var(--clr-light-100);
  margin-right: 2px;
  margin-left: 2px;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.toggle-active {
  transform: translate3d(21px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.toggle-img {
  position: absolute;
  top: -40px;
  right: -12px;
}

.yearly {
  opacity: .65;
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  letter-spacing: 1.22px;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .pricing {
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .toggle-holder {
    grid-column: 1 / 3;
    justify-self: end;
  }
}

@media (min-width: 28em) {
  .pricing {
    grid-template-columns: 1fr 8rem;
    grid-template-rows: 4rem auto;
    gap: 1em;
  }

  .toggle-holder {
    grid-column: 1 / 3;
    justify-self: end;
  }
}

@media (min-width: 62em) {
  .pricing {
    grid-template-columns: auto 1fr;

  }

  .heading {
    font-size: var(--fs-320);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 2.5rem;
    align-self: end;
  }
}


/*plans*/

.plans {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 4em 0;

}

.plan {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light-100);
  gap: 2.5em;
  border: .3px solid rgba(2, 4, 69, .15);
  border-radius: 4px;
  box-shadow: 0 0 68px 0 rgba(2, 4, 69, .08);
  padding: 2.8em 1em 3em 1em;
}

.plan:nth-child(2) {
  position: relative;
  overflow: hidden;
}

.type {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.plan .type h2 {
  font-size: var(--fs-400);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-700);
  line-height: 1.4;
}

.plan .type p {
  color: var(--clr-neutral-200);
  font-size: var(--fs-270);
  line-height: 20px;
  font-weight: var(--fw-400);
  max-width: 40ch;
}

.price-container {
  border-bottom: 2px solid var(--clr-accent-100);

  display: flex;
  gap: 1em;
  color: var(--clr-neutral-200);
}

.plan-price {
  display: flex;
  gap: .5em;
}

#billed {
  align-self: flex-end;
  margin-left: auto;
}

.plan-price .amount {
  font-weight: var(--fw-700);
  font-size: var(--fs-980);
  line-height: 80px;
  font-weight: var(--fw-700);
}

.plan-price .currency {
  align-self: center;
  font-size: var(--fs-500);
}

.plan-month {
  font-size: var(--fs-400);
  text-transform: uppercase;
  font-weight: var(--fw-400);
  line-height: 1.4;
  align-self: flex-end;
}

.plan-features {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.plan-feature {
  display: flex;
  gap: 1em;
  align-items: center;
  color: var(--clr-neutral-200);

}

.plan-feature p {
  font-size: var(--fs-290);
  font-weight: var(--fw-400);
  letter-spacing: .6px;
  line-height: 23px;
}

.plan .btn-accent {
  padding: 1.8em 1.5625em;
  width: 100%;
  margin-top: auto;
}

/*popular tag*/

.popular-tag {
  background-color: var(--clr-accent-100);
  position: absolute;
  width: 360px;
  padding: 0.3125em 6.25em;
  right: -65px;
  left: auto;
  transform: rotate(45deg);


}

.popular-tag h2 {
  color: var(--clr-light-100);
  font-size: var(--fs-280);
  font-weight: var(--fw-700);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
}

@media (min-width: 30em) {
  .plan-price .currency {
    font-size: var(--fs-810);
  }

  .popular-tag {
    padding: 1em 2.5em;
    right: -70px;
  }

  .popular-tag h2 {
    font-size: var(--fs-300);
  }
}

@media (min-width: 48.125em) {
  .plan-price .currency {

    align-self: flex-start;
    margin-top: .2em;
  }

  .plan-price .amount {
    font-size: var(--fs-940);
  }
}

@media (min-width: 61.8em) {
  .plans {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .plan {
    flex-basis: 31%;
  }

  .plan .type h2 {
    font-size: var(--fs-460);
  }

  .price-container .plan-month {
    font-size: var(--fs-400);
  }

  .popular-tag {
    right: -120px;
    padding: .6em 2.3em;
  }

}


/*Boxes*/

.boxes {}

.boxes h2 {
  color: var(--clr-neutral-200);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  text-align: center;
  line-height: 140%;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.box {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column-reverse;
  padding: 2em;
  box-shadow: 0 0 60px 0 rgba(2, 4, 69, .05);
}

.box-content h3 {
  color: var(--clr-neutral-200);
  font-size: var(--fs-280);
  font-weight: var(--fw-700);
  line-height: 1.4;
}

.box-content p {
  color: var(--clr-neutral-200);
  font: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 20px;
}

.box-3 .learn-link {
  color: var(--clr-accent-100);
  cursor: pointer;
  font-weight: var(--fw-700);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  gap: .5em
}

.learn-link img {
  display: inline-block;
  max-width: 100%;
  font-size: 14px;
}

.box-pricing {}

.box-pricing .amount-1 {
  font-size: var(--fs-400);
  color: var(--clr-neutral-200);
  line-height: 140%;
  font-weight: var(--fw-700);
}

.box-pricing .amount {
  color: var(--clr-neutral-200);
  font-size: var(--fs-400);
  line-height: 140%;
  font-weight: var(--fw-700);
}

.box-pricing .currency {
  margin-right: .1em;
}

.box-2 .price,
.box-3 .price {
  color: var(--clr-neutral-200);
  font-size: var(--fs-920);
  font-weight: var(--fw-700);
  line-height: 130%;
}

.box-2 .plan-month,
.box-3 .plan-month {
  color: var(--clr-neutral-200);
  font-size: var(--fs-270);
  line-height: 133%;
  font-weight: var(--fw-400);
}

.plan-month {
  font-weight: var(--fw-400);

}

@media (min-width: 50em) {
  .boxes h2 {
    font-size: var(--fs-840);

  }

  .box-content h3 {
    font-size: var(--fs-790);
  }

  .box-pricing .amount-1 {
    font-size: var(--fs-840);
  }

  .box-pricing .amount {
    font-size: var(--fs-920);
  }

  .box-2 .price,
  .box-3 .price {
    font-size: var(--fs-930);
  }
}