:root {


  --ff-serif: font-family: 'PT Serif', serif;


  /* small screen font-sizes */
  --fs-250: 0.813rem;
  /*13px*/
  --fs-280: 1rem;
  /*16px*/
  --fs-290: 1.063rem;
  /*17px*/
  --fs-300: 1.125rem;
  /*18px*/
  --fs-400: 1.5rem;
  /*24px*/
  --fs-500: 1.75rem;
  /*18px*/
  --fs-600: 1.25rem;
  /*20px*/
  --fs-700: 1.313rem;
  /*21px*/
  --fs-900: 2.25rem;
  /*36px*/

  --fw-400: 400;
  --fw-700: 700;


  /*colors*/
  --clr-light-100: #ffffff;
  --clr-neutral-100: #4c4d5f;
  --clr-neutral-200: #4c525a;
  --clr-accent-100: #00b289;
  --clr-accent-200: #f8db62;



  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}


@media (min-width: 40em) {
  :root {}
}

@media (min-width: 40em) {
  :root {
    --fs-400: 2.4rem;
    /*heading for desktop no for tablet*/
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.6;
  font-family: var(--ff-serif);

}


/* typography */

h1,
h2,
h3,
.section-subtitle {
  font-family: var(--ff-sans);
}



a:hover,
a:focus {
  color: var(--clr-primary-400);
}


/* utility/helper classes */

.main-grid {
  display: grid;
  place-items: center;
  padding: 0 1em;
}



.text-tick {
  color: var(--clr-neutral-100);
  line-height: 23px;
  font-size: var(--fs-280);
  font-weight: var(--fw-400);
}

.bg-dark {}

.bg-light {}

.btn {
  display: inline-block;
  font-size: var(--fs-300);
  border: 0;
  font-weight: var(--fw-700);
  line-height: 1.125;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5em 1em;
}

@media (min-width: 40em) {}

@media (min-width: 40em) {}

/* general layout classes */

.container {}

section {}







@media (min-width: 40em) {}

/* components */

/*Header*/

/*mobile*/

.open-nav {
  background: transparent;
  border: 0;
  font-size: var(--fs-400);


}


/*desktop*/

.nav-large {
  display: flex;
}

.nav-large>a {}

.main-nav {
  display: flex;

}

.main-nav-left {
  display: flex;
  gap: 2em;

}

.main-nav-left a {
  color: var(--clr-neutral-100);
  font-size: var(--fs-290);
  font-weight: var(--fw-400);
  line-height: 22px;
}

.main-nav-toggle {
  display: flex;

}

.main-nav-right {
  display: flex;
}

.btn-login {
  border: 1px solid var(--clr-accent-100);
  background-color: transparent;
  border-radius: 4px;
  font-size: var(--fs-250);
  color: var(--clr-accent-100);
  text-transform: uppercase;
  line-height: 16px;
  font-weight: var(--fw-700);
  text-align: center;
  letter-spacing: .6px;
  padding: .9em 1.4em;
}

.btn-login:hover {
  background-color: var(--clr-accent-100);
  color: var(--clr-light-100);
}

.btn-signup {
  border-color: var(--clr-accent-100);
  background-color: var(--clr-accent-100);
  border-radius: 4px;
  font-size: var(--fs-250);
  color: var(--clr-light-100);
  text-transform: uppercase;
  line-height: 16px;
  font-weight: var(--fw-700);
  text-align: center;
  letter-spacing: .6px;
  padding: .9em 1.6em;
}

.btn-signup:hover {
  color: var(--clr-light-100);
}

.main-nav-left a,
.main-nav-right a {
  text-decoration: none;
}


@media (min-width: 40em) {}

@media (min-width: 40em) {}


/*Pricing*/

.heading {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 120%;
  color: var(--clr-neutral-200);
}

.monthly {
  color: var(--clr-neutral-200);
  font-size: var(--fs-290);
  font-weight: var(--fw-700);
  letter-spacing: 1.22px;
  text-transform: uppercase;
}

.toggle {
  background-color: var(--clr-accent-100);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 200px;
  height: 1.813rem;
  width: 3.125rem;
  margin-right: 28px;
  margin-left: 28px;
  padding-right: 0;
  padding-left: 0;
}

.toggle-ball {
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 200px;
  background-color: var(--clr-light-100);
  margin-right: 2px;
  margin-left: 2px;
}

.yearly {
  opacity: .65;
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  letter-spacing: 1.22px;
  text-transform: uppercase;

}



/*nav-menu-mobile */

.dropdown-arrow {
  position: relative;
}

.dropdown-arrow::before {
  content: '';
  background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/5e5fd7c602ca7caeb4feb68a_Path.svg");
  background-repeat: no-repeat;
  background-size: auto;
  /*background-position: 50% 50%;*/
  color: transparent;
  position: absolute;
  height: 1em;
  width: 1em;
  left: 0;
  top: 0px;
}


.btn-login {
  display: block;
}

.btn-signup {
  display: block;
}

@media (min-width: 40em) {}