body {
  background-color: #131316;
  color: #fff;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}



/* animation with css transitions*/

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);/*can also do -100px*/
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);/*can also do 0%*/
}
/*
section:nth-of-type(2) {
  transition-delay: 600ms;
}
section:nth-of-type(3) {
  transition-delay: 400ms;
}

/*
section:nth-of-type(4) {
  transition-delay: 600ms;
}*/

/*



