div {
  position: relative;
}

div p {
  position: absolute;
  background-image: url('images/bg-section-bottom-desktop-1.svg');
  background-repeat: no-repeat;
  height: 20rem;
  width: 100%;
  top: 0;
  left: 0;
}