:root {



  /* small screen font-sizes */
  --fs--150: .7rem;
  --fs--200: .8rem;
  --fs--250: 1rem;
  --fs-300: 1.125rem;
  /*18pp*/
  --fs-350: 1.3rem;
  --fs-400: 1.5rem;
  /*24px*/
  --fs-500: 1.75rem;
  /*18px*/
  --fs-600: 1.25rem;
  /*20px*/
  --fs-700: 1.313rem;
  /*21px*/
  --fs-900: 2.25rem;
  /*36px*/
  --fs-970: 3.3rem;

  --fw-400: 400;
  --fw-700: 700;


  --clr-primary-pink: hsl(322, 100%, 66%);
  --clr-primary-light-pink: hsl(321, 100%, 78%);
  --clr-primary-red: hsl(0, 100%, 63%);


  --clr-neutral-dark: hsl(192, 100%, 9%);
  --clr-neutral-pale: hsl(207, 100%, 98%);
  --clr-neutral-grey: hsl(210, 5%, 61%);


  /*txt*/

}


@media (min-width: 23.4375em) {
  :root {
    --fs--150: .9rem;
    --fs--200: 1rem;
    --fs--250: 1rem;
    --fs-300: 1.3rem;
    /*18pp*/
    --fs-350: 1.3rem;
    --fs-400: 1.8rem;
    /*24px*/
    --fs-500: 2rem;
    /*18px*/
    --fs-600: 1.5rem;
    /*20px*/
    --fs-700: 1.5rem;
    /*21px*/
    --fs-900: 2.5rem;
    /*36px*/
    --fs-970: 3.6rem;
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: 'Poppins',
    sans-serif;
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.6;
  font-family: 'Open Sans',
    sans-serif;
}


/* typography */




a:hover,
a:focus {}


/* utility/helper classes */

.btn {
  display: inline-block;
  background-color: var(--clr-primary-pink);
  border-radius: 20px;
  color: #ffffff;
  padding: 1em 3.5em;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: var(--fs--200);
  text-align: center;
}

/* general layout classes */

.main-grid {
  display: grid;
  place-items: center;
  padding: 0 2rem;
}

@media (min-width: 23.437em) {
  .btn {
    width: 18em;
    align-self: center;
  }

  .main-grid {
    display: grid;
    grid-template-columns: minmax(8em, 1fr) repeat(2, minmax(0, 40rem)) minmax(8em, 1fr);
  }

  .main-grid>* {
    grid-column: 2 / 4;
  }
}



/***********************************************/
/*section {
  margin-top: 5em;
}

section :nth-child() {
  background-color: var(--clr-neutral-pale);
}*/

.flow-content>* {
  margin-top: 5em;
}



/* components */

/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.logo {
  height: 1em;
}

.header-link {
  text-decoration: none;
  color: var(--clr-primary-light-pink);
  display: inline-block;
  outline: 1px solid var(--clr-primary-light-pink);
  border-radius: 15px;
  font-size: var(--fs--150);
  font-weight: bold;
  padding: .2em 1em;
  margin: 0;
  text-align: center;
}


@media (min-width: 40em) {
  .header {
    padding: 6em 12em 8em 12em;
  }

  .logo {
    height: 2em;
  }

  .header-link {
    padding: .3em 1.5em;
    font-size: var(--fs-300);
  }
}

/*HERO*/

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 2em;

}

.hero h1 {
  line-height: 1.6;
  text-align: center;
}

.hero p {
  text-align: center;
}

.hero .btn {
  margin-top: 1em;
}

@media (min-width: 40em) {
  .hero h1 {
    font-size: var(--fs-900);
  }

  .hero p {
    max-width: 60ch;
  }

  .hero .container {
    justify-content: center;
    align-items: center;
  }
}

/*HERO-ILLUSTRATIONS*/

.hero-illustrations {
  position: relative;

}

.hero-illustrations .container {
  display: flex;
  flex-direction: column;
  gap: 10em;
  padding-bottom: 3em;
}

.bg-top-mobile {
  position: absolute;
  background-image: url('images/bg-section-top-mobile-1.svg');
  background-repeat: no-repeat;
  height: 7rem;
  width: 100%;
  bottom: 0px;
  left: 0;

}

/*.bg-hero-desktop {
  display: none;
}*/


.numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7em;
  padding-bottom: 3rem;
}

.numbers h2 {
  font-size: var(--fs-970);
}

.numbers p {
  color: var(--clr-neutral-grey);
  font-size: var(--fs--200);
  font-weight: 400;
}

.numbers-communities {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.numbers-communities img,
.numbers-messages img {
  width: 1.7rem;
}

.numbers-messages {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.numbers-messages p {
  text-align: center;
  max-width: 8ch;
  align-self: center;
}

@media (min-width: 23.4370em) {



  .numbers {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10rem;
  }

  .bg-top-mobile {
    display: none;
  }

  /***/
  .bg-hero-desktop {
    position: absolute;
    background-image: url('images/bg-section-top-desktop-1.svg');
    background-repeat: no-repeat;
    height: 15rem;
    width: 100%;
    bottom: -100px;
    left: 0;
  }

}

/*GROW*/

.grow {
  position: relative;
  background-color: var(--clr-neutral-pale);
  padding: 4em 0;
}



.grow .container,
.flowing .container,
.users .container {
  display: flex;
  flex-direction: column-reverse;
  gap: 5em;
}

.grow .text,
.flowing .text,
.users .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  font-size: var(--fs--200);
}

.grow .text h3,
.flowing .text h3,
.users .text h3 {
  font-size: var(--fs-400);
}



.bg-bottom-mobile {
  position: absolute;
  background-image: url('images/bg-section-bottom-mobile-1.svg');
  background-repeat: no-repeat;
  height: 4.2rem;
  width: 100%;
  bottom: -65px;
  left: 0;
}

.grow .bg-bottom-desktop {
  display: none;
}

@media (min-width: 23.4370em) {
  .grow .container {
    flex-direction: row;
    align-items: center;

  }

  .grow .text,
  .flowing .text,
  .users .text {
    text-align: left;
    line-height: 1.3;
  }

  .grow .bg-bottom-mobile {
    display: none;
  }




}



/*flowing*/
.flowing {
  padding-bottom: 8rem;
}

@media (min-width: 23.4370em) {
  .flowing .container {
    flex-direction: row-reverse;
    align-items: center;

  }
}

/*Users*/

.users {
  position: relative;
  background-color: var(--clr-neutral-pale);
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.users .bg-top-mobile {
  position: absolute;
  background-image: url('images/bg-section-top-mobile-2.svg');
  background-repeat: no-repeat;
  height: 4rem;
  width: 100%;
  top: -60px;
  left: 0;
}

@media (min-width: 23.4370em) {
  .users .container {
    flex-direction: row;
    align-items: center;
  }

  .users .bg-top-mobile {
    display: none;
  }



}

/*Build*/

.build {
  margin-bottom: 10rem;
  padding-top: 6rem;
}

.build .build-desktop {
  display: none;
}

.build .container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  text-align: center;
}

.build .build-mobile {
  font-size: var(--fs-400);
  line-height: 1.6;
}





/*Footer*/

.footer {
  background-color: var(--clr-neutral-dark);
  color: #fff;
  padding: 4em 2em 2em 2em;
  position: relative;
}


.wave-mobile {
  position: absolute;
  background-image: url('images/bg-footer-top-mobile.svg');
  background-repeat: no-repeat;
  height: 10rem;
  width: 100%;
  top: -53px;
  left: 0;
}


.footer-container {

  display: flex;
  flex-direction: column-reverse;
  gap: 4em;
}



.footer-logo {
  width: 8rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2.5em;



}

.contact p {
  font-size: var(--fs--200);
}

.phone,
.email {
  display: flex;
  gap: 1.3em;
  align-items: center;
}

.phone img,
.email img {
  width: 1em;
  height: 1em;
}

.phone p,
.email p {
  font-size: var(--fs--200);
}

.footer-logo svg {
  fill: #fff;
}

.social {
  display: flex;
  gap: 1.3em;
}

.social {
  width: 1.5em;
  height: 1.5em;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 2em;

}

.newsletter .left {
  display: flex;
  flex-direction: column;
  gap: 2em;
}


.newsletter h4 {
  font-size: var(--fs--400);
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
}

.newsletter p {
  font-size: var(--fs--200);
  width: 100%;
}

.right {

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.newsletter input {
  flex-grow: 1;
  border-radius: 5px;

}

.footer-link {
  background-color: var(--clr-primary-pink);
  border-radius: 10px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: var(--fs--200);
  letter-spacing: 1.2px;
  padding: .8em 2.7em;
  text-decoration: none;
  align-self: flex-end;

}

@media (min-width: 23.4370em) {
  .footer-logo {
    width: 14rem;
  }

  .footer {
    position: relative;
  }

  .wave-mobile {
    display: none;
  }

  .wave-desktop {
    position: absolute;
    background-image: url('images/bg-footer-top-desktop.svg');
    background-repeat: no-repeat;
    background-color: #fff;
    height: 8.3rem;
    padding: 0rem;
    width: 100%;
    top: 0;
    left: 0;

  }

  .footer {
    padding: 12em 12em 10em 12em;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;

  }

  .contact {
    flex-basis: 30%;
    gap: 1.5em;
  }

  .newsletter {
    flex-basis: 35%;

  }


  .newsletter .left p {
    max-width: 40ch;

  }

  .newsletter .right {
    width: 100%;
    flex-direction: row;
    gap: 2em;

  }

  .right input {
    flex-basis: 62%;
  }

  .footer-link {
    flex-basis: 30%;
    margin-left: auto;
  }

}