div {
  position: relative;
}

div p {
  position: absolute;
  background-image: url('images/bg-section-top-mobile-1.svg');
  background-repeat: no-repeat;
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
}