* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
}
.container {
  margin: 2rem;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
  border-radius: 0.375rem;
  padding: 2rem;
}
.text {
  display: contents;
  gap: 0.75rem;
}

/*When you set use display: contents on an element, that element’s children become direct children of the element’s parent. It’s like, that element disappears from the Markup.
So, in our case, for mobile layout, if we use display: contents on our .text element, it gets ignored, so looks like this in html:

<div class="container">
  <h2>...</h2>
  <p>...<p/>
  <a>...</a>
  <img/>
</div> //<div class="text">.</div> gets ignored
*/

img {
  max-width: 100%;
  max-height: 13rem;
  border-radius: 0.375rem;
  order: -1;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  order: -1;
}
p {
  color: #374151;
}
a {
  display:inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #2563EB;
}

@media screen and (min-width: 640px) {
  .container {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
  img {
    order: 0;
  }
}