body {
  color: #444;
  line-height: 1.4;
}
* {
  margin: 0;
  padding: 0;
}

section {
  max-width: 28rem;
  margin: 2rem;
  padding: 2rem;
  background-color: #e2e8f0;
  border-radius: 0.25rem;
}

img {
  display: block;
  width: 300px;
  max-width: 100%;
}

a {
  display: block;
}

section > * + * {
  margin-top: 1.2rem;
}

/*EXPLANATION*

section > * + * {
  margin-top: 1.2rem;
}

Since * is the universal selector, the type of element does not matter. This will select all immediate children of section element except for the first child. Isn’t that convenient?

The usual method
The usual way of doing something like this is to add margin / padding / border for every child and then negate that using :last-child selector.


ul > li {
  margin-bottom: 1.5rem;
}

ul > li:lst-child {
  margin-bottom: 0;
}

The alternate method
While the usual method works great, we can achieve the same with much lesser code using the adjacent sibling selector. Check this out!

ul > li + li {
  margin-top: 1.5rem;
}









*/