html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*body::-webkit-scrollbar {
  display: none;
}
/*apply this for scrollbar not to show in firefox*/
html {
  scrollbar-width: none;
}

img {
  max-width: 100%;
  width: 200px;
}

.container {
  display: flex;
}


header {
  position: fixed;
  top: 0;
  right: 100px;
  z-index: 999;
}

.logo {
  display: none;
}

.burger {
  display: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  padding: 0;
 
  right: 300px;
}

header ul li  {
  list-style: none;
 
}

header ul li a {
  text-decoration: none;
}
  
main {
  margin-left: 290px;
  min-height: 100vh;
  width: calc(100% - 290px);
  
}
    
aside {
  position: fixed;
  width: 290px;
  flex-basis: 290px;
  flex: 0 0 290px;
  /*display: none;*/
  height: 100vh;
}


.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem 4rem;
}

/*For scrollbar to not show but still be able to scroll*/
.content::-webkit-scrollbar {
  display: none;
}

/* Demo Styles 
------------------------------------- *
.container > * { border: 4px dashed red; margin: .5rem; }
main > * { border: 4px dashed red; margin: .5rem; }
article > * { border: 4px dashed red; margin: .5rem; }*/

aside, 
footer {
  border: 1px solid black;
  padding: 1rem;
}

h1, p {
  margin-top: 0;
}

/*header {
  background-color: yellow;
}*/
aside {
  background-color: papayawhip;
}
footer {
  background-color: goldenrod;
}

@media (max-width: 60rem) {
  aside {
    display: none;
    
    /*height: auto;
    min-height: 0;
    position: static;
    width: 100%;*/
  }

  main {
    width: 100%;
    margin-left: 0;
    min-height: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 0 2rem;
  }
  .logo {
    display: block;
  }
  .burger {
    display: none;
  }
}

@media (max-width: 30rem) {
  header {

    display: none;
  }

  .content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger {
    display: block;
    width: 1rem;
    height: 1rem;
  }
}
