html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*body::-webkit-scrollbar {
  display: none;
}*/
/*apply this for scrollbar not to show in firefox*/
html {
  scrollbar-width: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  
}

header {
  position: fixed;
  right: 70px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  padding: 0;
}

header ul li  {
  list-style: none;
 
}

header ul li a {
  text-decoration: none;
}
  

main {
  overflow: hidden;
  display: flex;
}
    
aside {
  
  width: 290px;
  flex-basis: 290px;
  flex: 0 0 290px;
  /*display: none;*/
  height: 100vh;
}


.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem 4rem;
}

/*For scrollbar to not show but still be able to scroll*/
.content::-webkit-scrollbar {
  display: none;
}

footer {
        
}
    
  





/* Demo Styles 
------------------------------------- *


.container > * { border: 4px dashed red; margin: .5rem; }
main > * { border: 4px dashed red; margin: .5rem; }
article > * { border: 4px dashed red; margin: .5rem; }*/

header,
aside, 
footer {
  border: 1px solid black;
  padding: 1rem;
}

h1, p {
  margin-top: 0;
}

/*header {
  background-color: yellow;
}*/
aside {
  background-color: papayawhip;
}
footer {
  background-color: goldenrod;
}
