:root {

  --spacer: 1rem;
  --ff-rubik: 'Rubik', sans-serif;
  /*font-family:'McLaren', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;*/


  /* small screen font-sizes */
  --fs-180: .8rem;
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  /*18pp*/
  --fs-400: 1.5rem;
  /*24px*/
  --fs-500: 1.75rem;
  /*18px*/
  --fs-600: 1.25rem;
  /*20px*/
  --fs-700: 1.313rem;
  /*21px*/
  --fs-900: 2.25rem;
  /*36px

  

  /*Main colors*/
  --clr-pale-violet: hsl(276, 100%, 81%);
  --clr-moderate-violet: hsl(276, 55%, 52%);
  --clr-grayblue: hsl(206, 6%, 79%);
  --clr-heading: hsl(271, 36%, 24%);
  --clr-text: hsl(270, 7%, 64%);

  /*Secondary colors*/
  --clr-white: hsl(0, 0%, 100%);
  --clr-app-bg: hsl(270, 20%, 96%);
  --clr-submit-btn: hsl(271, 36%, 24%);
  --clr-radio: hsl(289, 100%, 72%);

  /*Gradients*/
  --clr-light-magenta: hsl(293, 100%, 63%);
  --clr-violet: hsl(264, 100%, 61%);


}


@media (min-width: 40em) {
  :root {}
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1;
  font-family: var(--ff-rubik);
  font-size: var(--fs-180);
}


/* typography */



a:hover,
a:focus {}


/* utility/helper classes */

.chat-pink {
  color: var(--clr-moderate-violet);
  background-color: var(--clr-grayblue);
}


/* general layout classes */

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  align-items: center;
  gap: 6em;
}





.flow-content>*+* {
  margin-top: var(--flow-spacer, 1em);
}






@media (min-width: 40em) {
  body {
    font-size: var(--fs-200);
  }

  .container {
    flex-direction: row;
    gap: 8em;
  }


}

/* components */

/*phone*/

.phone {
  width: 270px;
  height: 600px;
  border: 12px solid #ffffff;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 100px 1fr 100px 100px;
  gap: .8em;
  box-shadow: 20px 20px 50px 15px grey;
  background-color: var(--clr-app-bg);
}




@media (min-width: 40em) {
  .phone {
    width: 320px;
  }

  .text {
    flex-basis: 30%;

  }
}



/*header*/

.header {
  background: linear-gradient(to right, var(--clr-violet), var(--clr-light-magenta));
  color: #ffffff;
  outline: 1px solid red;
}

.avatar {
  height: 2rem;

}

.contact {
  display: flex;
}

.walker {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
}

.details p {
  color: var(--clr-pale-violet);
}




@media (min-width: 40em) {}







/*chat-top*/


@media (min-width: 40em) {}

/*chat-middle*/

.chat-middle {
  outline: 1px solid purple;
}

.images {
  display: flex;
  gap: .3em;
}

.dog-img {
  height: 3rem;
  border-radius: 5px;
}


@media (min-width: 40em) {}


/*cost*/

.cost {
  outline: 1px solid green;
}

.walk {
  background: linear-gradient(to right, var(--clr-light-magenta), var(--clr-violet));
  color: #ffffff;
  display: flex;
  color: #ffffff;
}

.time {
  display: flex;
}

@media (min-width: 40em) {}


/*footer*/

@media (min-width: 40em) {}